@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: #5f876c;
  --primary-color-darker: rgb(0, 0, 0);
  --second-color: #5f876c;
  --erro-color:rgb(207, 28, 28);

  --second-color-darker: #ef9036
  ;
}

* {
  box-sizing: border-box;
  outline: 0;
  padding:0;
  margin:0;
  list-style:none;
  text-decoration: none;
}

html,body {
    width:100%;
    height:100%;
  }
  body {
    width:100%;
    height:100%;
  
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
  }


.container {
    display:flex;
    width:100%;
    height:100%;
    background: #fff;
    
}

.quebra {
    width: 100%;
    display: block;
    line-height: 1.5em;
}
.area-form {
    height:100%;
    width:50%;
    display:flex;
    flex-direction: column;

    align-items:center;
        
}  
  
.area-form form {
    max-width: 640px;
    width:100%;
    background: #fff;
    padding:30px;

    border-radius: 1em;
}
  
.formulario h2 {
    margin-bottom: 60px;
    text-align: center;
}
form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }
  
  form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border:3px solid var(--second-color);
  }
  
  form input:focus {
    outline: 1px solid var(--primary-color);
  }
  
  form button {
    border: none;
    background: var(--second-color);
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius:.8rem;
  }
  
  form button:hover {
    background: var(--second-color);
  }
  .error-text {
    font-size: 12px;
    color: var(--erro-color);
  }

.area-img  {
    background-image: url('../img/praia.jpg');
    
    background-position: center;
    background-size: cover;
    width:50%;
    height:100%;
    display:flex;

    flex-direction: column;

}




@media(max-width:900px) {
    .area-img {
        display:none;
    }
    .area-form {
        width:100%;
    }
    form input {
        font-size:14px;
    }

    .area-form {
        max-width:500px;
    }
}